.form > p{
    display: flex;
    flex-direction: column;
}
.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-item {
    position: relative;
    min-width: 100%;
    box-sizing: border-box;
}

.slider-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.slider-caption {
    position: absolute;
    bottom: 20px;
    left: 60px;
    color: #fff;
    background: rgba(30, 78, 26, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #198754;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;}
